<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="email-from" value="my@email.com"/>
    </appSettings>
    <connectionStrings>
        <add name="local-db" connectionString="server=.;database=db"/>
        <add name="external-db" connectionString="server=external-server;database=some_db"/>
    </connectionStrings>
</configuration>